*{
    margin:0;
    padding: 0;
}

body{
    background-color: teal;
}

.logo{
    color: blanchedalmond;
    text-align: center;
    font-size: 250%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Film-bar{
    text-align: center;
    color: beige;
    font-size: 20px;
    
}

img{
    height: 450px;
    width: 630px;
    
    
}



.wrapper .sidebar {
    background: burlywood;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 600px;
    padding: 20px 0;
    transition: all 0.5s ease;
    

    
}

.wrapper .sidebar .filmMenu{
    margin-bottom: 30px;
    text-align: center;
} 

.wrapper .sidebar ul li a{
    display: block;
    padding: 9px 10px;
    /* border-bottom: 1px solid burlywood; */
    color: white;
    font-size: 16px;
    /* position: relative; */
}

.sidebar a.active {
    background-color: aquamarine;
    color: white;
}



.film-card{
    justify-items: center;
    margin: auto;
    width: 50%;
    border: 5px solid;

}

.film-card img{
    max-width: 100%;
    height: auto;
}

.film-card h2{
    margin-top: 10px;
    font-size: 1.2em;
}

.film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.Buy-Ticket {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.Buy-Ticket:hover {
    background-color: #d4421f;
}